extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit boneka 
			small menu untuk edit data 
		
	section.content
		.box		
			.box-body
				form(role='form',method='post' action='/fluffy/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama
									input(type='text',value="#{data.nama}",name='nama',placeholder='Masukkan Nama', autofocus).form-control
								.form-group
									label
										| Stok
									input(type='text',value="#{ (stok == undefined) ? data.stok : stok }",name='stok',placeholder='Masukkan stok').form-control
								.form-group
									label
										| Harga
									input(type='text',value="#{ (harga == undefined) ? data.harga : harga }",name='harga',placeholder='Masukkan harga').form-control
								.form-group
									label
										| Jenis
									input(type='text',value="#{ (jenis == undefined) ? data.jenis : jenis }",name='jenis',placeholder='Masukkan jenis').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/fluffy').btn.btn-primary.pull-right
									| Back